:root {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-family-sans--font-feature-settings: normal;
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-mono--font-feature-settings: normal;

  --font-size-small: 13px;
  --font-size-base: 14px;
  --font-size-large: 16px;
  --font-size-x-large: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height-normal: 130%;
  --line-height-large: 150%;
  --line-height-x-large: 180%;
  --line-height-2x-large: 200%;
  --letter-spacing-normal: 0;
  --letter-spacing-tight: -0.1599999964237213;
  --letter-spacing-tightest: -0.3199999928474426;
  --paragraph-spacing-base: 0;

  --spacing: 0.25rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  --shadow-xs:
    0 1px 2px -0.5px light-dark(hsl(0 0% 0% / 0.04), hsl(0 0% 0% / 0.06)),
    0 0.5px 1.5px 0 light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.08)),
    0 1px 3px 0 light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.1));
  --shadow-md:
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.1)),
    0 4px 8px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.15)),
    0 1px 2px light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 0.15));
  --shadow-lg:
    0 16px 48px -6px light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.15)),
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1)),
    0 1px 2.5px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1));
  --shadow-xxs-border: 0 0 0 0.5px var(--border-weak-base, rgba(0, 0, 0, 0.07));
  --shadow-xs-border:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-base:
    0 0 0 1px var(--border-weak-base, rgba(17, 0, 0, 0.12)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-select:
    0 0 0 3px var(--border-weak-selected, rgba(1, 103, 255, 0.29)),
    0 0 0 1px var(--border-selected, rgba(0, 74, 255, 0.99)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-xs-border-focus:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12), 0 0 0 2px var(--background-weak, #f1f0f0),
    0 0 0 3px var(--border-selected, rgba(0, 74, 255, 0.99));
  --shadow-xs-border-hover:
    0 0 0 1px var(--border-weak-selected, rgba(0, 112, 255, 0.22)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-critical-base: 0 0 0 1px var(--border-critical-selected, #fc543a);
  --shadow-xs-border-critical-focus:
    0 0 0 3px var(--border-critical-weak, rgba(251, 34, 0, 0.18)), 0 0 0 1px var(--border-critical-selected, #fc543a),
    0 1px 2px -1px rgba(19, 16, 16, 0.25), 0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-lg-border-base:
    0 0 0 1px var(--border-weak-base, rgba(0, 0, 0, 0.07)), 0 36px 80px 0 rgba(0, 0, 0, 0.03),
    0 13.141px 29.201px 0 rgba(0, 0, 0, 0.04), 0 6.38px 14.177px 0 rgba(0, 0, 0, 0.05),
    0 3.127px 6.95px 0 rgba(0, 0, 0, 0.06), 0 1.237px 2.748px 0 rgba(0, 0, 0, 0.09);

  color-scheme: light;
  --text-mix-blend-mode: multiply;

  /* OC-2 fallback variables (light) */
  --background-base: #f8f8f8;
  --background-weak: #f3f3f3;
  --background-strong: #fcfcfc;
  --background-stronger: #fcfcfc;
  --surface-base: rgba(0, 0, 0, 0.031);
  --base: rgba(0, 0, 0, 0.034);
  --surface-base-hover: rgba(0, 0, 0, 0.059);
  --surface-base-active: rgba(0, 0, 0, 0.051);
  --surface-base-interactive-active: rgba(3, 76, 255, 0.09);
  --base2: rgba(0, 0, 0, 0.034);
  --base3: rgba(0, 0, 0, 0.034);
  --surface-inset-base: rgba(0, 0, 0, 0.034);
  --surface-inset-base-hover: rgba(0, 0, 0, 0.055);
  --surface-inset-strong: rgba(0, 0, 0, 0.09);
  --surface-inset-strong-hover: rgba(0, 0, 0, 0.09);
  --surface-raised-base: rgba(0, 0, 0, 0.031);
  --surface-float-base: #161616;
  --surface-float-base-hover: #1c1c1c;
  --surface-raised-base-hover: rgba(0, 0, 0, 0.051);
  --surface-raised-base-active: rgba(0, 0, 0, 0.09);
  --surface-raised-strong: #fcfcfc;
  --surface-raised-strong-hover: #ffffff;
  --surface-raised-stronger: #ffffff;
  --surface-raised-stronger-hover: #ffffff;
  --surface-weak: rgba(0, 0, 0, 0.051);
  --surface-weaker: rgba(0, 0, 0, 0.071);
  --surface-strong: #ffffff;
  --surface-stronger-non-alpha: var(--surface-raised-stronger-non-alpha);
  --surface-raised-stronger-non-alpha: #ffffff;
  --surface-brand-base: #dcde8d;
  --surface-brand-hover: #d0d283;
  --surface-interactive-base: #ecf3ff;
  --surface-interactive-hover: #e0eaff;
  --surface-interactive-weak: #f7faff;
  --surface-interactive-weak-hover: #ecf3ff;
  --surface-success-base: #dbfed7;
  --surface-success-weak: #f0feee;
  --surface-success-strong: #12c905;
  --surface-warning-base: #fcf3cb;
  --surface-warning-weak: #fdfaec;
  --surface-warning-strong: #fbdd46;
  --surface-critical-base: #fff2f0;
  --surface-critical-weak: #fff8f6;
  --surface-critical-strong: #fc533a;
  --surface-info-base: #fdecfe;
  --surface-info-weak: #fef7ff;
  --surface-info-strong: #a753ae;
  --surface-diff-unchanged-base: #ffffff00;
  --surface-diff-skip-base: #f8f8f8;
  --surface-diff-hidden-base: #eaf4ff;
  --surface-diff-hidden-weak: #f6faff;
  --surface-diff-hidden-weaker: #fbfdff;
  --surface-diff-hidden-strong: #cae3ff;
  --surface-diff-hidden-stronger: #2090f5;
  --surface-diff-add-base: #e3fae1;
  --surface-diff-add-weak: #f4fcf3;
  --surface-diff-add-weaker: #fbfefb;
  --surface-diff-add-strong: #c2eebf;
  --surface-diff-add-stronger: #9ff29a;
  --surface-diff-delete-base: #feefeb;
  --surface-diff-delete-weak: #fff8f6;
  --surface-diff-delete-weaker: #fffcfb;
  --surface-diff-delete-strong: #fdc3b7;
  --surface-diff-delete-stronger: #fc533a;
  --input-base: #fcfcfc;
  --input-hover: #f8f8f8;
  --input-active: #fcfdff;
  --input-selected: #e0eaff;
  --input-focus: #fcfdff;
  --input-disabled: #ededed;
  --text-base: #6f6f6f;
  --text-weak: #8f8f8f;
  --text-weaker: #c7c7c7;
  --text-strong: #171717;
  --text-invert-base: #f8f8f8;
  --text-invert-weak: #f3f3f3;
  --text-invert-weaker: #ededed;
  --text-invert-strong: #fcfcfc;
  --text-interactive-base: #034cff;
  --text-on-brand-base: rgba(0, 0, 0, 0.574);
  --text-on-interactive-base: #fcfcfc;
  --text-on-interactive-weak: rgba(0, 0, 0, 0.574);
  --text-on-success-base: #2dba26;
  --text-on-critical-base: #ed4831;
  --text-on-critical-weak: #fe806a;
  --text-on-critical-strong: #601a0f;
  --text-on-warning-base: rgba(0, 0, 0, 0.574);
  --text-on-info-base: rgba(0, 0, 0, 0.574);
  --text-diff-add-base: #3a8437;
  --text-diff-delete-base: #ed4831;
  --text-diff-delete-strong: #601a0f;
  --text-diff-add-strong: #1d3e1c;
  --text-on-info-weak: rgba(0, 0, 0, 0.453);
  --text-on-info-strong: rgba(0, 0, 0, 0.915);
  --text-on-warning-weak: rgba(0, 0, 0, 0.453);
  --text-on-warning-strong: rgba(0, 0, 0, 0.915);
  --text-on-success-weak: #96ec8e;
  --text-on-success-strong: #044202;
  --text-on-brand-weak: rgba(0, 0, 0, 0.453);
  --text-on-brand-weaker: rgba(0, 0, 0, 0.232);
  --text-on-brand-strong: rgba(0, 0, 0, 0.915);
  --button-primary-base: #171717;
  --button-secondary-base: #fcfcfc;
  --button-secondary-hover: #f8f8f8;
  --button-ghost-hover: rgba(0, 0, 0, 0.031);
  --button-ghost-hover2: rgba(0, 0, 0, 0.051);
  --border-base: rgba(0, 0, 0, 0.162);
  --border-hover: rgba(0, 0, 0, 0.236);
  --border-active: rgba(0, 0, 0, 0.46);
  --border-selected: rgba(3, 76, 255, 0.99);
  --border-disabled: rgba(0, 0, 0, 0.236);
  --border-focus: rgba(0, 0, 0, 0.46);
  --border-weak-base: #e5e5e5;
  --border-strong-base: rgba(0, 0, 0, 0.151);
  --border-strong-hover: rgba(0, 0, 0, 0.232);
  --border-strong-active: rgba(0, 0, 0, 0.151);
  --border-strong-selected: rgba(3, 76, 255, 0.31);
  --border-strong-disabled: rgba(0, 0, 0, 0.118);
  --border-strong-focus: rgba(0, 0, 0, 0.151);
  --border-weak-hover: rgba(0, 0, 0, 0.118);
  --border-weak-active: rgba(0, 0, 0, 0.151);
  --border-weak-selected: rgba(3, 76, 255, 0.24);
  --border-weak-disabled: rgba(0, 0, 0, 0.118);
  --border-weak-focus: rgba(0, 0, 0, 0.151);
  --border-weaker-base: #f0f0f0;
  --border-weaker-hover: rgba(0, 0, 0, 0.075);
  --border-weaker-active: rgba(0, 0, 0, 0.118);
  --border-weaker-selected: rgba(3, 76, 255, 0.16);
  --border-weaker-disabled: rgba(0, 0, 0, 0.034);
  --border-weaker-focus: rgba(0, 0, 0, 0.118);
  --border-interactive-base: #a3c1fd;
  --border-interactive-hover: #7ea9ff;
  --border-interactive-active: #034cff;
  --border-interactive-selected: #034cff;
  --border-interactive-disabled: #c7c7c7;
  --border-interactive-focus: #034cff;
  --border-success-base: #96ec8e;
  --border-success-hover: #7add71;
  --border-success-selected: #12c905;
  --border-warning-base: #e8d479;
  --border-warning-hover: #d8c158;
  --border-warning-selected: #fbdd46;
  --border-critical-base: #fdc3b7;
  --border-critical-hover: #ffa796;
  --border-critical-selected: #fc533a;
  --border-info-base: #f4bdf8;
  --border-info-hover: #e6a8ea;
  --border-info-selected: #a753ae;
  --border-color: #ffffff;
  --icon-base: #8f8f8f;
  --icon-hover: #6f6f6f;
  --icon-active: #171717;
  --icon-selected: #171717;
  --icon-disabled: #c7c7c7;
  --icon-focus: #171717;
  --icon-invert-base: #ffffff;
  --icon-weak-base: #dbdbdb;
  --icon-weak-hover: #c7c7c7;
  --icon-weak-active: #8f8f8f;
  --icon-weak-selected: #858585;
  --icon-weak-disabled: #e2e2e2;
  --icon-weak-focus: #8f8f8f;
  --icon-strong-base: #171717;
  --icon-strong-hover: #151313;
  --icon-strong-active: #020202;
  --icon-strong-selected: #020202;
  --icon-strong-disabled: #c7c7c7;
  --icon-strong-focus: #020202;
  --icon-brand-base: #171717;
  --icon-interactive-base: #034cff;
  --icon-success-base: #7add71;
  --icon-success-hover: #4cc944;
  --icon-success-active: #078901;
  --icon-warning-base: #ebb76e;
  --icon-warning-hover: #da9e40;
  --icon-warning-active: #95671b;
  --icon-critical-base: #ed4831;
  --icon-critical-hover: #ca2d17;
  --icon-critical-active: #601a0f;
  --icon-info-base: #e6a8ea;
  --icon-info-hover: #d58cda;
  --icon-info-active: #9b4da1;
  --icon-on-brand-base: rgba(0, 0, 0, 0.574);
  --icon-on-brand-hover: rgba(0, 0, 0, 0.915);
  --icon-on-brand-selected: rgba(0, 0, 0, 0.915);
  --icon-on-interactive-base: #fcfcfc;
  --icon-agent-plan-base: #a753ae;
  --icon-agent-docs-base: #fcb239;
  --icon-agent-ask-base: #2090f5;
  --icon-agent-build-base: #034cff;
  --icon-on-success-base: rgba(18, 201, 5, 0.9);
  --icon-on-success-hover: rgba(45, 186, 38, 0.9);
  --icon-on-success-selected: rgba(7, 137, 1, 0.9);
  --icon-on-warning-base: rgba(252, 178, 57, 0.9);
  --icon-on-warning-hover: rgba(239, 167, 46, 0.9);
  --icon-on-warning-selected: rgba(149, 103, 27, 0.9);
  --icon-on-critical-base: rgba(252, 83, 58, 0.9);
  --icon-on-critical-hover: rgba(237, 72, 49, 0.9);
  --icon-on-critical-selected: rgba(202, 45, 23, 0.9);
  --icon-on-info-base: #a753ae;
  --icon-on-info-hover: rgba(155, 73, 162, 0.9);
  --icon-on-info-selected: rgba(155, 77, 161, 0.9);
  --icon-diff-add-base: #3a8437;
  --icon-diff-add-hover: #1d3e1c;
  --icon-diff-add-active: #1d3e1c;
  --icon-diff-delete-base: #ed4831;
  --icon-diff-delete-hover: #ca2d17;
  --icon-diff-modified-base: #ff8c00;
  --syntax-comment: var(--text-weak);
  --syntax-regexp: var(--text-base);
  --syntax-string: #006656;
  --syntax-keyword: var(--text-weak);
  --syntax-primitive: #fb4804;
  --syntax-operator: var(--text-base);
  --syntax-variable: var(--text-strong);
  --syntax-property: #ed6dc8;
  --syntax-type: #596600;
  --syntax-constant: #007b80;
  --syntax-punctuation: var(--text-base);
  --syntax-object: var(--text-strong);
  --syntax-success: #2dba26;
  --syntax-warning: #efa72e;
  --syntax-critical: #ed4831;
  --syntax-info: #0092a8;
  --syntax-diff-add: #3a8437;
  --syntax-diff-delete: #ca2d17;
  --syntax-diff-unknown: #ff0000;
  --markdown-heading: #d68c27;
  --markdown-text: #1a1a1a;
  --markdown-link: #3b7dd8;
  --markdown-link-text: #318795;
  --markdown-code: #3d9a57;
  --markdown-block-quote: #b0851f;
  --markdown-emph: #b0851f;
  --markdown-strong: #d68c27;
  --markdown-horizontal-rule: #8a8a8a;
  --markdown-list-item: #3b7dd8;
  --markdown-list-enumeration: #318795;
  --markdown-image: #3b7dd8;
  --markdown-image-text: #318795;
  --markdown-code-block: #1a1a1a;
  --avatar-background-pink: #feeef8;
  --avatar-background-mint: #e1fbf4;
  --avatar-background-orange: #fff1e7;
  --avatar-background-purple: #f9f1fe;
  --avatar-background-cyan: #e7f9fb;
  --avatar-background-lime: #eefadc;
  --avatar-text-pink: #cd1d8d;
  --avatar-text-mint: #147d6f;
  --avatar-text-orange: #ed5f00;
  --avatar-text-purple: #8445bc;
  --avatar-text-cyan: #0894b3;
  --avatar-text-lime: #5d770d;
  --text-stronger: #171717;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --text-mix-blend-mode: plus-lighter;

    /* OC-2 fallback variables (dark) */
    --background-base: #101010;
    --background-weak: #1e1e1e;
    --background-strong: #121212;
    --background-stronger: #151515;
    --surface-base: rgba(255, 255, 255, 0.031);
    --base: rgba(255, 255, 255, 0.034);
    --surface-base-hover: rgba(255, 255, 255, 0.039);
    --surface-base-active: rgba(255, 255, 255, 0.059);
    --surface-base-interactive-active: rgba(3, 76, 255, 0.125);
    --base2: rgba(255, 255, 255, 0.034);
    --base3: rgba(255, 255, 255, 0.034);
    --surface-inset-base: rgba(0, 0, 0, 0.5);
    --surface-inset-base-hover: rgba(0, 0, 0, 0.5);
    --surface-inset-strong: rgba(0, 0, 0, 0.8);
    --surface-inset-strong-hover: rgba(0, 0, 0, 0.8);
    --surface-raised-base: rgba(255, 255, 255, 0.059);
    --surface-float-base: #161616;
    --surface-float-base-hover: #1c1c1c;
    --surface-raised-base-hover: rgba(255, 255, 255, 0.078);
    --surface-raised-base-active: rgba(255, 255, 255, 0.102);
    --surface-raised-strong: rgba(255, 255, 255, 0.078);
    --surface-raised-strong-hover: rgba(255, 255, 255, 0.129);
    --surface-raised-stronger: rgba(255, 255, 255, 0.129);
    --surface-raised-stronger-hover: rgba(255, 255, 255, 0.169);
    --surface-weak: rgba(255, 255, 255, 0.078);
    --surface-weaker: rgba(255, 255, 255, 0.102);
    --surface-strong: rgba(255, 255, 255, 0.169);
    --surface-stronger-non-alpha: var(--surface-raised-stronger-non-alpha);
    --surface-raised-stronger-non-alpha: #1c1c1c;
    --surface-brand-base: #fab283;
    --surface-brand-hover: #eda779;
    --surface-interactive-base: #091f52;
    --surface-interactive-hover: #091f52;
    --surface-interactive-weak: #0b1730;
    --surface-interactive-weak-hover: #ecf3ff;
    --surface-success-base: #062d04;
    --surface-success-weak: #0a1e08;
    --surface-success-strong: #12c905;
    --surface-warning-base: #fdf3cf;
    --surface-warning-weak: #fdfaed;
    --surface-warning-strong: #fcd53a;
    --surface-critical-base: #1f0603;
    --surface-critical-weak: #28110c;
    --surface-critical-strong: #fc533a;
    --surface-info-base: #feecfe;
    --surface-info-weak: #fdf7fe;
    --surface-info-strong: #edb2f1;
    --surface-diff-unchanged-base: #161616;
    --surface-diff-skip-base: #00000000;
    --surface-diff-hidden-base: #0c1928;
    --surface-diff-hidden-weak: #09131d;
    --surface-diff-hidden-weaker: #082542;
    --surface-diff-hidden-strong: #073966;
    --surface-diff-hidden-stronger: #8ec2fc;
    --surface-diff-add-base: #1a2919;
    --surface-diff-add-weak: #1f351e;
    --surface-diff-add-weaker: #1a2919;
    --surface-diff-add-strong: #264024;
    --surface-diff-add-stronger: #9bcd97;
    --surface-diff-delete-base: #42120b;
    --surface-diff-delete-weak: #580f06;
    --surface-diff-delete-weaker: #42120b;
    --surface-diff-delete-strong: #6a1206;
    --surface-diff-delete-stronger: #faa494;
    --input-base: #1c1c1c;
    --input-hover: #1c1c1c;
    --input-active: #091123;
    --input-selected: #0b1730;
    --input-focus: #091123;
    --input-disabled: #282828;
    --text-base: rgba(255, 255, 255, 0.618);
    --text-weak: rgba(255, 255, 255, 0.422);
    --text-weaker: rgba(255, 255, 255, 0.284);
    --text-strong: rgba(255, 255, 255, 0.936);
    --text-invert-base: #a0a0a0;
    --text-invert-weak: #707070;
    --text-invert-weaker: #505050;
    --text-invert-strong: #ededed;
    --text-interactive-base: #9dbefe;
    --text-on-brand-base: rgba(255, 255, 255, 0.603);
    --text-on-interactive-base: #ededed;
    --text-on-interactive-weak: rgba(255, 255, 255, 0.603);
    --text-on-success-base: #12c905;
    --text-on-critical-base: #fc533a;
    --text-on-critical-weak: #b72d1a;
    --text-on-critical-strong: #ffe0da;
    --text-on-warning-base: rgba(255, 255, 255, 0.603);
    --text-on-info-base: rgba(255, 255, 255, 0.603);
    --text-diff-add-base: #9bcd97;
    --text-diff-delete-base: #fc533a;
    --text-diff-delete-strong: #ffe0da;
    --text-diff-add-strong: #4a7348;
    --text-on-info-weak: rgba(255, 255, 255, 0.404);
    --text-on-info-strong: rgba(255, 255, 255, 0.928);
    --text-on-warning-weak: rgba(255, 255, 255, 0.404);
    --text-on-warning-strong: rgba(255, 255, 255, 0.928);
    --text-on-success-weak: #127d0d;
    --text-on-success-strong: #bafdb3;
    --text-on-brand-weak: rgba(255, 255, 255, 0.404);
    --text-on-brand-weaker: rgba(255, 255, 255, 0.266);
    --text-on-brand-strong: rgba(255, 255, 255, 0.928);
    --button-primary-base: #ededed;
    --button-secondary-base: #1c1c1c;
    --button-secondary-hover: rgba(255, 255, 255, 0.039);
    --button-ghost-hover: rgba(255, 255, 255, 0.031);
    --button-ghost-hover2: rgba(255, 255, 255, 0.059);
    --border-base: rgba(255, 255, 255, 0.195);
    --border-hover: rgba(255, 255, 255, 0.284);
    --border-active: rgba(255, 255, 255, 0.418);
    --border-selected: #9dbefe;
    --border-disabled: rgba(255, 255, 255, 0.284);
    --border-focus: rgba(255, 255, 255, 0.418);
    --border-weak-base: #282828;
    --border-strong-base: rgba(255, 255, 255, 0.266);
    --border-strong-hover: rgba(255, 255, 255, 0.266);
    --border-strong-active: rgba(255, 255, 255, 0.266);
    --border-strong-selected: rgba(3, 76, 255, 0.62);
    --border-strong-disabled: rgba(255, 255, 255, 0.138);
    --border-strong-focus: rgba(255, 255, 255, 0.266);
    --border-weak-hover: rgba(255, 255, 255, 0.181);
    --border-weak-active: rgba(255, 255, 255, 0.266);
    --border-weak-selected: rgba(3, 76, 255, 0.62);
    --border-weak-disabled: rgba(255, 255, 255, 0.138);
    --border-weak-focus: rgba(255, 255, 255, 0.266);
    --border-weaker-base: #202020;
    --border-weaker-hover: rgba(255, 255, 255, 0.084);
    --border-weaker-active: rgba(255, 255, 255, 0.138);
    --border-weaker-selected: rgba(3, 76, 255, 0.32);
    --border-weaker-disabled: rgba(255, 255, 255, 0.034);
    --border-weaker-focus: rgba(255, 255, 255, 0.138);
    --border-interactive-base: #a3c1fd;
    --border-interactive-hover: #7ea9ff;
    --border-interactive-active: #034cff;
    --border-interactive-selected: #034cff;
    --border-interactive-disabled: #505050;
    --border-interactive-focus: #034cff;
    --border-success-base: #96ec8e;
    --border-success-hover: #7add71;
    --border-success-selected: #12c905;
    --border-warning-base: #e9d282;
    --border-warning-hover: #dac063;
    --border-warning-selected: #fcd53a;
    --border-critical-base: #6a1206;
    --border-critical-hover: #952414;
    --border-critical-selected: #fc533a;
    --border-info-base: #eac5ec;
    --border-info-hover: #dab1dd;
    --border-info-selected: #edb2f1;
    --border-color: #ffffff;
    --icon-base: #7e7e7e;
    --icon-hover: #a0a0a0;
    --icon-active: #ededed;
    --icon-selected: #ededed;
    --icon-disabled: #3e3e3e;
    --icon-focus: #ededed;
    --icon-invert-base: #161616;
    --icon-weak-base: #343434;
    --icon-weak-hover: #d9d9d9;
    --icon-weak-active: #c8c8c8;
    --icon-weak-selected: #707070;
    --icon-weak-disabled: #ededed;
    --icon-weak-focus: #707070;
    --icon-strong-base: #ededed;
    --icon-strong-hover: #f6f3f3;
    --icon-strong-active: #fcfcfc;
    --icon-strong-selected: #fdfcfc;
    --icon-strong-disabled: #3e3e3e;
    --icon-strong-focus: #fdfcfc;
    --icon-brand-base: #ffffff;
    --icon-interactive-base: #034cff;
    --icon-success-base: #12c905;
    --icon-success-hover: #35c02d;
    --icon-success-active: #4de144;
    --icon-warning-base: #fbb73c;
    --icon-warning-hover: #885e08;
    --icon-warning-active: #f1b13f;
    --icon-critical-base: #fc533a;
    --icon-critical-hover: #faa494;
    --icon-critical-active: #ffe0da;
    --icon-info-base: #68446b;
    --icon-info-hover: #815484;
    --icon-info-active: #dfa7e3;
    --icon-on-brand-base: rgba(255, 255, 255, 0.603);
    --icon-on-brand-hover: rgba(255, 255, 255, 0.928);
    --icon-on-brand-selected: rgba(255, 255, 255, 0.928);
    --icon-on-interactive-base: #ededed;
    --icon-agent-plan-base: #edb2f1;
    --icon-agent-docs-base: #fbb73c;
    --icon-agent-ask-base: #2090f5;
    --icon-agent-build-base: #9dbefe;
    --icon-on-success-base: rgba(18, 201, 5, 0.9);
    --icon-on-success-hover: rgba(53, 192, 45, 0.9);
    --icon-on-success-selected: rgba(77, 225, 68, 0.9);
    --icon-on-warning-base: rgba(251, 183, 60, 0.9);
    --icon-on-warning-hover: rgba(245, 178, 56, 0.9);
    --icon-on-warning-selected: rgba(241, 177, 63, 0.9);
    --icon-on-critical-base: rgba(252, 83, 58, 0.9);
    --icon-on-critical-hover: rgba(245, 79, 54, 0.9);
    --icon-on-critical-selected: rgba(250, 164, 148, 0.9);
    --icon-on-info-base: #edb2f1;
    --icon-on-info-hover: rgba(231, 173, 235, 0.9);
    --icon-on-info-selected: rgba(223, 167, 227, 0.9);
    --icon-diff-add-base: #9bcd97;
    --icon-diff-add-hover: #c3f9bf;
    --icon-diff-add-active: #9bcd97;
    --icon-diff-delete-base: #fc533a;
    --icon-diff-delete-hover: #f54f36;
    --icon-diff-modified-base: #ffba92;
    --syntax-comment: var(--text-weak);
    --syntax-regexp: var(--text-base);
    --syntax-string: #00ceb9;
    --syntax-keyword: var(--text-weak);
    --syntax-primitive: #ffba92;
    --syntax-operator: var(--text-weak);
    --syntax-variable: var(--text-strong);
    --syntax-property: #ff9ae2;
    --syntax-type: #ecf58c;
    --syntax-constant: #93e9f6;
    --syntax-punctuation: var(--text-weak);
    --syntax-object: var(--text-strong);
    --syntax-success: #35c02d;
    --syntax-warning: #f5b238;
    --syntax-critical: #f54f36;
    --syntax-info: #93e9f6;
    --syntax-diff-add: #9bcd97;
    --syntax-diff-delete: #faa494;
    --syntax-diff-unknown: #ff0000;
    --markdown-heading: #9d7cd8;
    --markdown-text: #eeeeee;
    --markdown-link: #fab283;
    --markdown-link-text: #56b6c2;
    --markdown-code: #7fd88f;
    --markdown-block-quote: #e5c07b;
    --markdown-emph: #e5c07b;
    --markdown-strong: #f5a742;
    --markdown-horizontal-rule: #808080;
    --markdown-list-item: #fab283;
    --markdown-list-enumeration: #56b6c2;
    --markdown-image: #fab283;
    --markdown-image-text: #56b6c2;
    --markdown-code-block: #eeeeee;
    --avatar-background-pink: #501b3f;
    --avatar-background-mint: #033a34;
    --avatar-background-orange: #5f2a06;
    --avatar-background-purple: #432155;
    --avatar-background-cyan: #0f3058;
    --avatar-background-lime: #2b3711;
    --avatar-text-pink: #e34ba9;
    --avatar-text-mint: #95f3d9;
    --avatar-text-orange: #ff802b;
    --avatar-text-purple: #9d5bd2;
    --avatar-text-cyan: #369eff;
    --avatar-text-lime: #c4f042;
    --text-stronger: rgba(255, 255, 255, 0.936);
  }
}
:root {
  --gray-dark-1: #161616;
  --gray-dark-2: #1c1c1c;
  --gray-dark-3: #232323;
  --gray-dark-4: #282828;
  --gray-dark-5: #2e2e2e;
  --gray-dark-6: #343434;
  --gray-dark-7: #3e3e3e;
  --gray-dark-8: #505050;
  --gray-dark-9: #707070;
  --gray-dark-10: #7e7e7e;
  --gray-dark-11: #a0a0a0;
  --gray-dark-12: #ededed;
  --gray-light-1: #fcfcfc;
  --gray-light-2: #f8f8f8;
  --gray-light-3: #f3f3f3;
  --gray-light-4: #ededed;
  --gray-light-5: #e8e8e8;
  --gray-light-6: #e2e2e2;
  --gray-light-7: #dbdbdb;
  --gray-light-8: #c7c7c7;
  --gray-light-9: #8f8f8f;
  --gray-light-10: #858585;
  --gray-light-11: #6f6f6f;
  --gray-light-12: #171717;
  --gray-dark-alpha-1: #00000000;
  --gray-dark-alpha-2: #ffffff08;
  --gray-dark-alpha-3: #ffffff0f;
  --gray-dark-alpha-4: #ffffff14;
  --gray-dark-alpha-5: #ffffff1a;
  --gray-dark-alpha-6: #ffffff21;
  --gray-dark-alpha-7: #ffffff2b;
  --gray-dark-alpha-8: #ffffff40;
  --gray-dark-alpha-9: #ffffff63;
  --gray-dark-alpha-10: #ffffff73;
  --gray-dark-alpha-11: #ffffff96;
  --gray-dark-alpha-12: #ffffffeb;
  --gray-light-alpha-1: #00000003;
  --gray-light-alpha-2: #00000008;
  --gray-light-alpha-3: #0000000d;
  --gray-light-alpha-4: #00000012;
  --gray-light-alpha-5: #00000017;
  --gray-light-alpha-6: #0000001c;
  --gray-light-alpha-7: #00000024;
  --gray-light-alpha-8: #00000038;
  --gray-light-alpha-9: #00000070;
  --gray-light-alpha-10: #0000007a;
  --gray-light-alpha-11: #0000008f;
  --gray-light-alpha-12: #000000e8;
  --gray-dark-1: #131010;
  --gray-dark-2: #1b1818;
  --gray-dark-3: #252121;
  --gray-dark-4: #2d2828;
  --gray-dark-5: #343030;
  --gray-dark-6: #3e3939;
  --gray-dark-7: #4b4646;
  --gray-dark-8: #645f5f;
  --gray-dark-9: #716c6b;
  --gray-dark-10: #7f7979;
  --gray-dark-11: #b7b1b1;
  --gray-dark-12: #f1ecec;
  --gray-light-1: #fdfcfc;
  --gray-light-2: #f9f8f8;
  --gray-light-3: #f1f0f0;
  --gray-light-4: #e9e8e8;
  --gray-light-5: #e2e0e0;
  --gray-light-6: #dad9d9;
  --gray-light-7: #cfcecd;
  --gray-light-8: #bcbbbb;
  --gray-light-9: #8e8b8b;
  --gray-light-10: #848181;
  --gray-light-11: #656363;
  --gray-light-12: #211e1e;
  --gray-dark-alpha-1: #82383803;
  --gray-dark-alpha-2: #e6c6c60b;
  --gray-dark-alpha-3: #edd5d516;
  --gray-dark-alpha-4: #f2e1e11e;
  --gray-dark-alpha-5: #f5e8e826;
  --gray-dark-alpha-6: #f5e8e831;
  --gray-dark-alpha-7: #f7ecec3f;
  --gray-dark-alpha-8: #faf5f559;
  --gray-dark-alpha-9: #faf5f467;
  --gray-dark-alpha-10: #fbf5f576;
  --gray-dark-alpha-11: #fcf9f9b2;
  --gray-dark-alpha-12: #fdfbfbf0;
  --gray-light-alpha-1: #55000003;
  --gray-light-alpha-2: #25000007;
  --gray-light-alpha-3: #1100000f;
  --gray-light-alpha-4: #0c000017;
  --gray-light-alpha-5: #1100001f;
  --gray-light-alpha-6: #07000026;
  --gray-light-alpha-7: #0b060032;
  --gray-light-alpha-8: #04000044;
  --gray-light-alpha-9: #07000074;
  --gray-light-alpha-10: #0400009c;
  --gray-light-alpha-11: #0700007e;
  --gray-light-alpha-12: #020000df;
  --smoke-dark-1: #131010;
  --smoke-dark-2: #1b1818;
  --smoke-dark-3: #252121;
  --smoke-dark-4: #2d2828;
  --smoke-dark-5: #343030;
  --smoke-dark-6: #3e3939;
  --smoke-dark-7: #4b4646;
  --smoke-dark-8: #645f5f;
  --smoke-dark-9: #716c6b;
  --smoke-dark-10: #7f7979;
  --smoke-dark-11: #b7b1b1;
  --smoke-dark-12: #f1ecec;
  --smoke-light-1: #fdfcfc;
  --smoke-light-2: #f9f8f8;
  --smoke-light-3: #f1f0f0;
  --smoke-light-4: #e9e8e8;
  --smoke-light-5: #e2e0e0;
  --smoke-light-6: #dad9d9;
  --smoke-light-7: #cfcecd;
  --smoke-light-8: #bcbbbb;
  --smoke-light-9: #8e8b8b;
  --smoke-light-10: #848181;
  --smoke-light-11: #656363;
  --smoke-light-12: #211e1e;
  --smoke-dark-alpha-1: #82383803;
  --smoke-dark-alpha-2: #e6c6c60b;
  --smoke-dark-alpha-3: #edd5d516;
  --smoke-dark-alpha-4: #f2e1e11e;
  --smoke-dark-alpha-5: #f5e8e826;
  --smoke-dark-alpha-6: #f5e8e831;
  --smoke-dark-alpha-7: #f7ecec3f;
  --smoke-dark-alpha-8: #faf5f559;
  --smoke-dark-alpha-9: #faf5f467;
  --smoke-dark-alpha-10: #fbf5f576;
  --smoke-dark-alpha-11: #fcf9f9b2;
  --smoke-dark-alpha-12: #fdfbfbf0;
  --smoke-light-alpha-1: #55000003;
  --smoke-light-alpha-2: #25000007;
  --smoke-light-alpha-3: #1100000f;
  --smoke-light-alpha-4: #0c000017;
  --smoke-light-alpha-5: #1100001f;
  --smoke-light-alpha-6: #07000026;
  --smoke-light-alpha-7: #0b060032;
  --smoke-light-alpha-8: #04000044;
  --smoke-light-alpha-9: #07000074;
  --smoke-light-alpha-10: #0400009c;
  --smoke-light-alpha-11: #0700007e;
  --smoke-light-alpha-12: #020000df;
  --yuzu-dark-1: #11120c;
  --yuzu-light-1: #fdfdfb;
  --yuzu-light-2: #fbfceb;
  --yuzu-light-3: #f8fac5;
  --yuzu-light-4: #f2f4a5;
  --yuzu-light-5: #e9eb9a;
  --yuzu-light-6: #dcde8e;
  --yuzu-light-7: #cccd7e;
  --yuzu-light-8: #b6b768;
  --yuzu-light-9: #dcde8d;
  --yuzu-light-10: #d2d384;
  --yuzu-light-11: #7c7c2c;
  --yuzu-light-12: #3d3d23;
  --yuzu-dark-2: #181810;
  --yuzu-dark-3: #262614;
  --yuzu-dark-4: #313115;
  --yuzu-dark-5: #3d3d18;
  --yuzu-dark-6: #4a4a21;
  --yuzu-dark-7: #5a5b2c;
  --yuzu-dark-8: #6f6f36;
  --yuzu-dark-9: #fdffca;
  --yuzu-dark-10: #f4f6c1;
  --yuzu-dark-11: #dbdda0;
  --yuzu-dark-12: #eff1bd;
  --yuzu-dark-alpha-1: #11910002;
  --yuzu-dark-alpha-2: #f1f10008;
  --yuzu-dark-alpha-3: #fafa3317;
  --yuzu-dark-alpha-4: #fbfb2f23;
  --yuzu-dark-alpha-5: #fbfb3730;
  --yuzu-dark-alpha-6: #fcfc533e;
  --yuzu-dark-alpha-7: #fafd6750;
  --yuzu-dark-alpha-8: #ffff6f65;
  --yuzu-dark-alpha-9: #fdffca;
  --yuzu-dark-alpha-10: #fcfec7f6;
  --yuzu-dark-alpha-11: #fdffb8db;
  --yuzu-dark-alpha-12: #fdffc8f0;
  --yuzu-light-alpha-1: #80800004;
  --yuzu-light-alpha-2: #ccd90014;
  --yuzu-light-alpha-3: #e1ea003a;
  --yuzu-light-alpha-4: #dbe0015a;
  --yuzu-light-alpha-5: #c8cd0065;
  --yuzu-light-alpha-6: #b1b50071;
  --yuzu-light-alpha-7: #9b9d0081;
  --yuzu-light-alpha-8: #84860097;
  --yuzu-light-alpha-9: #b1b60072;
  --yuzu-light-alpha-10: #a2a4017b;
  --yuzu-light-alpha-11: #616100d3;
  --yuzu-light-alpha-12: #1e1e00dc;
  --cobalt-dark-1: #091120;
  --cobalt-dark-2: #0d172b;
  --cobalt-dark-3: #0c2255;
  --cobalt-dark-4: #0c2a74;
  --cobalt-dark-5: #113489;
  --cobalt-dark-6: #18409b;
  --cobalt-dark-7: #204cb1;
  --cobalt-dark-8: #2558d0;
  --cobalt-dark-9: #034cff;
  --cobalt-dark-10: #0038ee;
  --cobalt-dark-11: #89b5ff;
  --cobalt-dark-12: #cde2ff;
  --cobalt-light-1: #fcfdff;
  --cobalt-light-2: #f5faff;
  --cobalt-light-3: #eaf2ff;
  --cobalt-light-4: #daeaff;
  --cobalt-light-5: #c8e0ff;
  --cobalt-light-6: #b4d2ff;
  --cobalt-light-7: #98bfff;
  --cobalt-dark-alpha-1: #0011f211;
  --cobalt-dark-alpha-2: #0048fe1c;
  --cobalt-dark-alpha-3: #004dff49;
  --cobalt-dark-alpha-4: #064dfd6b;
  --cobalt-dark-alpha-5: #1157ff81;
  --cobalt-dark-alpha-6: #1e62ff94;
  --cobalt-dark-alpha-7: #2768feac;
  --cobalt-dark-alpha-8: #2a6affcd;
  --cobalt-dark-alpha-9: #034cff;
  --cobalt-dark-alpha-10: #003bffed;
  --cobalt-dark-alpha-11: #89b5ff;
  --cobalt-light-8: #73a4ff;
  --cobalt-dark-alpha-12: #cde2ff;
  --cobalt-light-9: #034cff;
  --cobalt-light-10: #0443de;
  --cobalt-light-11: #1251ec;
  --cobalt-light-12: #0f2b6c;
  --cobalt-light-alpha-1: #0055ff03;
  --cobalt-light-alpha-2: #0080ff0a;
  --cobalt-light-alpha-3: #0062ff15;
  --cobalt-light-alpha-4: #006fff25;
  --cobalt-light-alpha-5: #0070ff37;
  --cobalt-light-alpha-6: #0167ff4b;
  --cobalt-light-alpha-7: #0061ff67;
  --cobalt-light-alpha-8: #005aff8c;
  --cobalt-light-alpha-9: #004afffc;
  --cobalt-light-alpha-10: #0040ddfb;
  --cobalt-light-alpha-11: #0044ebed;
  --cobalt-light-alpha-12: #001e63f0;
  --apple-dark-1: #0c140b;
  --apple-light-1: #fafefa;
  --apple-light-2: #f4fcf3;
  --apple-light-3: #e1fade;
  --apple-light-4: #cef6c9;
  --apple-light-5: #b9efb3;
  --apple-light-6: #9fe598;
  --apple-light-7: #7dd676;
  --apple-light-8: #43c23b;
  --apple-light-9: #12c905;
  --apple-light-10: #00bd00;
  --apple-light-11: #008600;
  --apple-light-12: #184115;
  --apple-dark-2: #121b11;
  --apple-dark-3: #152d13;
  --apple-dark-4: #123d0f;
  --apple-dark-5: #174b14;
  --apple-dark-6: #1d5b19;
  --apple-dark-7: #226c1e;
  --apple-dark-8: #267f20;
  --apple-dark-9: #12c905;
  --apple-dark-10: #17bb0d;
  --apple-dark-11: #37db2e;
  --apple-dark-12: #aff7a8;
  --apple-dark-alpha-1: #00d10004;
  --apple-dark-alpha-2: #29f9120b;
  --apple-dark-alpha-3: #33ff221e;
  --apple-dark-alpha-4: #17fb0730;
  --apple-dark-alpha-5: #2afc1e3f;
  --apple-dark-alpha-6: #37fd2b50;
  --apple-dark-alpha-7: #3efe3362;
  --apple-dark-alpha-8: #3fff3276;
  --apple-dark-alpha-9: #12fe02c6;
  --apple-dark-alpha-10: #19fe0cb7;
  --apple-dark-alpha-11: #3dfe33d9;
  --apple-dark-alpha-12: #b4feacf7;
  --apple-light-alpha-1: #00cc0005;
  --apple-light-alpha-2: #16c0000c;
  --apple-light-alpha-3: #18d90021;
  --apple-light-alpha-4: #18d50036;
  --apple-light-alpha-5: #15ca004c;
  --apple-light-alpha-6: #12bf0067;
  --apple-light-alpha-7: #0db30089;
  --apple-light-alpha-8: #0bb000c4;
  --apple-light-alpha-9: #0dc800fa;
  --apple-light-alpha-10: #00bd00;
  --apple-light-alpha-11: #008600;
  --apple-light-alpha-12: #033000ea;
  --ember-dark-1: #170f0d;
  --ember-dark-2: #201412;
  --ember-dark-3: #3c140d;
  --ember-dark-4: #530e05;
  --ember-dark-5: #631409;
  --ember-dark-6: #742216;
  --ember-dark-7: #8d3324;
  --ember-dark-8: #b64330;
  --ember-dark-9: #fc533a;
  --ember-dark-10: #ee462d;
  --ember-dark-11: #ff917b;
  --ember-dark-12: #ffd1c8;
  --ember-light-1: #fffcfb;
  --ember-light-2: #fff6f3;
  --ember-light-3: #ffe9e4;
  --ember-light-4: #ffd7cc;
  --ember-light-5: #ffc8ba;
  --ember-light-6: #ffb7a6;
  --ember-light-7: #ffa392;
  --ember-light-8: #f68975;
  --ember-light-9: #fc533a;
  --ember-light-10: #ef442a;
  --ember-light-11: #da3319;
  --ember-light-12: #5c281f;
  --ember-dark-alpha-1: #ec000007;
  --ember-dark-alpha-2: #f23e2011;
  --ember-dark-alpha-3: #fb22002f;
  --ember-dark-alpha-4: #ff070047;
  --ember-dark-alpha-5: #ff1a0058;
  --ember-dark-alpha-6: #fd3a1d6b;
  --ember-dark-alpha-7: #ff533685;
  --ember-dark-alpha-8: #ff5a3eb1;
  --ember-dark-alpha-9: #ff553bfc;
  --ember-dark-alpha-10: #ff4a2fed;
  --ember-dark-alpha-11: #ff917b;
  --ember-dark-alpha-12: #ffd1c8;
  --ember-light-alpha-1: #ff400004;
  --ember-light-alpha-2: #ff40000c;
  --ember-light-alpha-3: #ff30001b;
  --ember-light-alpha-4: #ff370033;
  --ember-light-alpha-5: #ff340045;
  --ember-light-alpha-6: #ff310059;
  --ember-light-alpha-7: #ff28006d;
  --ember-light-alpha-8: #ef25008a;
  --ember-light-alpha-9: #fb2200c5;
  --ember-light-alpha-10: #ec1f00d5;
  --ember-light-alpha-11: #d61d00e6;
  --ember-light-alpha-12: #460a00e0;
  --solaris-dark-1: #13110b;
  --solaris-dark-2: #1b180f;
  --solaris-dark-3: #2a2307;
  --solaris-dark-4: #382b00;
  --solaris-dark-5: #443500;
  --solaris-dark-6: #514307;
  --solaris-dark-7: #64551a;
  --solaris-dark-8: #7f6c25;
  --solaris-dark-9: #fcd53a;
  --solaris-dark-10: #f2cb2a;
  --solaris-dark-11: #fdd63c;
  --solaris-dark-12: #faebb5;
  --solaris-light-1: #fefdfa;
  --solaris-light-2: #fffbea;
  --solaris-light-3: #fff6be;
  --solaris-light-4: #ffee9c;
  --solaris-light-5: #ffe47c;
  --solaris-light-6: #f2d775;
  --solaris-light-7: #e0c76f;
  --solaris-light-8: #cdb047;
  --solaris-light-9: #ffdc17;
  --solaris-light-10: #fad337;
  --solaris-light-11: #917500;
  --solaris-light-12: #433c22;
  --solaris-dark-alpha-1: #bb110003;
  --solaris-dark-alpha-2: #f9b4000b;
  --solaris-dark-alpha-3: #febb001b;
  --solaris-dark-alpha-4: #feaf002a;
  --solaris-dark-alpha-5: #feb80037;
  --solaris-dark-alpha-6: #feca0045;
  --solaris-dark-alpha-7: #ffd42b59;
  --solaris-dark-alpha-8: #ffd63d76;
  --solaris-dark-alpha-9: #ffd83bfc;
  --solaris-dark-alpha-10: #fed52bf2;
  --solaris-dark-alpha-11: #ffd83cfd;
  --solaris-dark-alpha-12: #fff0b9fa;
  --solaris-light-alpha-1: #cc990005;
  --solaris-light-alpha-2: #ffcf0015;
  --solaris-light-alpha-3: #ffdc0041;
  --solaris-light-alpha-4: #ffd40063;
  --solaris-light-alpha-5: #ffcb0083;
  --solaris-light-alpha-6: #e7b6008a;
  --solaris-light-alpha-7: #c89c0090;
  --solaris-light-alpha-8: #ba9200b8;
  --solaris-light-alpha-9: #ffd900e8;
  --solaris-light-alpha-10: #f9c700c8;
  --solaris-light-alpha-11: #917500;
  --solaris-light-alpha-12: #261e00dd;
  --lilac-dark-1: #140f14;
  --lilac-dark-2: #1d141d;
  --lilac-dark-3: #2f1e31;
  --lilac-dark-4: #3e2440;
  --lilac-dark-5: #4a2c4c;
  --lilac-dark-6: #573859;
  --lilac-dark-7: #6c486e;
  --lilac-dark-8: #8a5e8d;
  --lilac-dark-9: #edb2f1;
  --lilac-dark-10: #e2a8e6;
  --lilac-dark-11: #dca2e0;
  --lilac-dark-12: #edd8ef;
  --lilac-light-1: #fffcff;
  --lilac-light-2: #fdf7fe;
  --lilac-light-3: #fceafd;
  --lilac-light-4: #faddfb;
  --lilac-light-5: #f5cff7;
  --lilac-light-6: #eebff1;
  --lilac-light-7: #e3a9e7;
  --lilac-light-8: #d78bdd;
  --lilac-light-9: #a753ae;
  --lilac-light-10: #9946a0;
  --lilac-light-11: #95429c;
  --lilac-light-12: #590b60;
  --lilac-dark-alpha-1: #d100d104;
  --lilac-dark-alpha-2: #fd4cfd0d;
  --lilac-dark-alpha-3: #ec70fb23;
  --lilac-dark-alpha-4: #f270fc33;
  --lilac-dark-alpha-5: #f57dfd40;
  --lilac-dark-alpha-6: #f691fd4e;
  --lilac-dark-alpha-7: #fa9eff64;
  --lilac-dark-alpha-8: #f9a5ff85;
  --lilac-dark-alpha-9: #fbbcfff0;
  --lilac-dark-alpha-10: #f9b9fee5;
  --lilac-dark-alpha-11: #fab8ffde;
  --lilac-dark-alpha-12: #fde6ffee;
  --lilac-light-alpha-1: #ff00ff03;
  --lilac-light-alpha-2: #c000e008;
  --lilac-light-alpha-3: #db00e715;
  --lilac-light-alpha-4: #da00e122;
  --lilac-light-alpha-5: #ca00d530;
  --lilac-light-alpha-6: #bc00c840;
  --lilac-light-alpha-7: #ac00b856;
  --lilac-light-alpha-8: #a800b574;
  --lilac-light-alpha-9: #7d0087ac;
  --lilac-light-alpha-10: #73007cb9;
  --lilac-light-alpha-11: #70007abd;
  --lilac-light-alpha-12: #520059f4;
  --coral-dark-1: #160f0e;
  --coral-light-1: #fffcfc;
  --coral-light-2: #fff8f7;
  --coral-light-3: #ffebe8;
  --coral-light-4: #ffdbd5;
  --coral-light-5: #ffcdc5;
  --coral-light-6: #f9beb5;
  --coral-light-7: #e9aea6;
  --coral-light-8: #d49b93;
  --coral-light-9: #af7871;
  --coral-light-10: #a26c65;
  --coral-light-11: #9c665f;
  --coral-light-12: #592a24;
  --coral-dark-2: #1f1413;
  --coral-dark-3: #391613;
  --coral-dark-4: #481b17;
  --coral-dark-5: #542621;
  --coral-dark-6: #63332d;
  --coral-dark-7: #77453f;
  --coral-dark-8: #935e57;
  --coral-dark-9: #ffd6d0;
  --coral-dark-10: #f5ccc6;
  --coral-dark-11: #e2a8a0;
  --coral-dark-12: #fcd3cd;
  --coral-dark-alpha-1: #e6000006;
  --coral-dark-alpha-2: #ff44330f;
  --coral-dark-alpha-3: #ff2f1d2b;
  --coral-dark-alpha-4: #ff3d2b3b;
  --coral-dark-alpha-5: #ff5c4a48;
  --coral-dark-alpha-6: #ff746358;
  --coral-dark-alpha-7: #fd897c6e;
  --coral-dark-alpha-8: #fe9d908c;
  --coral-dark-alpha-9: #ffd6d0;
  --coral-dark-alpha-10: #fed3cdf5;
  --coral-dark-alpha-11: #ffbdb4e0;
  --coral-dark-alpha-12: #ffd6cffc;
  --coral-light-alpha-1: #ff000003;
  --coral-light-alpha-2: #ff200008;
  --coral-light-alpha-3: #ff220017;
  --coral-light-alpha-4: #ff25002a;
  --coral-light-alpha-5: #ff24003a;
  --coral-light-alpha-6: #eb20014a;
  --coral-light-alpha-7: #c0170059;
  --coral-light-alpha-8: #9a13006c;
  --coral-light-alpha-9: #700d008e;
  --coral-light-alpha-10: #650c009a;
  --coral-light-alpha-11: #620b00a0;
  --coral-light-alpha-12: #3e0700db;
  --mint-dark-alpha-1: #00bb0003;
  --mint-dark-alpha-2: #2bf72b0a;
  --mint-dark-alpha-3: #66fe5d1b;
  --mint-dark-alpha-4: #63ff5d2c;
  --mint-dark-alpha-5: #6cff643b;
  --mint-dark-alpha-6: #71ff6a4b;
  --mint-dark-alpha-7: #74fd6f5d;
  --mint-dark-alpha-8: #74ff6f72;
  --mint-dark-alpha-9: #c8ffc4f5;
  --mint-dark-alpha-10: #c6fec2f5;
  --mint-dark-alpha-11: #b4ffafdc;
  --mint-dark-alpha-12: #c7ffc3fb;
  --mint-dark-1: #0d130c;
  --mint-dark-2: #121a12;
  --mint-dark-3: #1a2a19;
  --mint-dark-4: #1f3a1e;
  --mint-dark-5: #264824;
  --mint-dark-6: #2d572b;
  --mint-dark-7: #356733;
  --mint-dark-8: #3d7b3b;
  --mint-dark-9: #c8ffc4;
  --mint-dark-10: #bff5bb;
  --mint-dark-11: #9dde99;
  --mint-dark-12: #c4fbc0;
  --mint-light-1: #fafefa;
  --mint-light-2: #f4fcf3;
  --mint-light-3: #dbfdd8;
  --mint-light-4: #c3fabf;
  --mint-light-5: #adf2a8;
  --mint-light-6: #96e692;
  --mint-light-7: #81d47d;
  --mint-light-8: #6abc67;
  --mint-light-9: #9ff29a;
  --mint-light-10: #98e793;
  --mint-light-11: #318430;
  --mint-light-12: #1f461d;
  --mint-dark-alpha-1: #00bb0003;
  --mint-dark-alpha-2: #2bf72b09;
  --mint-dark-alpha-3: #66fe5d1b;
  --mint-dark-alpha-4: #63ff5d2b;
  --mint-dark-alpha-5: #6cff643b;
  --mint-dark-alpha-6: #71ff6a4a;
  --mint-dark-alpha-7: #74fd6f5c;
  --mint-dark-alpha-8: #74ff6f72;
  --mint-dark-alpha-9: #c8ffc4f5;
  --mint-dark-alpha-10: #c6fec2f5;
  --mint-dark-alpha-11: #b4ffafdb;
  --mint-dark-alpha-12: #c7ffc3fa;
  --black: #000000;
  --white: #ffffff;
  --mint-light-alpha-1: #00cc0005;
  --mint-light-alpha-2: #16c0000c;
  --mint-light-alpha-3: #14f20027;
  --mint-light-alpha-4: #10ec0040;
  --mint-light-alpha-5: #0fd90057;
  --mint-light-alpha-6: #0ac5006d;
  --mint-light-alpha-7: #08ab0082;
  --mint-light-alpha-8: #058f0098;
  --mint-light-alpha-9: #0ddf0065;
  --mint-light-alpha-10: #0cc7006c;
  --mint-light-alpha-11: #016800cf;
  --mint-light-alpha-12: #022e00e2;
  --blue-dark-1: #0e161f;
  --blue-dark-2: #0f1b2d;
  --blue-dark-3: #0f233c;
  --blue-dark-4: #10294b;
  --blue-dark-5: #0e2f57;
  --blue-dark-6: #0c3768;
  --blue-dark-7: #094280;
  --blue-dark-8: #0854a4;
  --blue-dark-9: #0091ff;
  --blue-dark-10: #389eff;
  --blue-dark-11: #51a8ff;
  --blue-dark-12: #eaf6ff;
  --blue-light-1: #f9fcff;
  --blue-light-2: #f5faff;
  --blue-light-3: #eaf4ff;
  --blue-light-4: #e0efff;
  --blue-light-5: #cde6fd;
  --blue-light-6: #b9d9f8;
  --blue-light-7: #96c7f2;
  --blue-light-8: #5cafee;
  --blue-light-9: #0091ff;
  --blue-light-10: #007fef;
  --blue-light-11: #0069db;
  --blue-light-12: #00254d;
  --blue-dark-alpha-1: #00000000;
  --blue-dark-alpha-2: #0c58fc0f;
  --blue-dark-alpha-3: #1576fd23;
  --blue-dark-alpha-4: #1576fd33;
  --blue-dark-alpha-5: #107bfd3f;
  --blue-dark-alpha-6: #0a7cff51;
  --blue-dark-alpha-7: #057dff70;
  --blue-dark-alpha-8: #057dff99;
  --blue-dark-alpha-9: #0094fff9;
  --blue-dark-alpha-10: #38a2fff9;
  --blue-dark-alpha-11: #51abfff9;
  --blue-dark-alpha-12: #effbfff9;
  --blue-light-alpha-1: #0582ff05;
  --blue-light-alpha-2: #0582ff0a;
  --blue-light-alpha-3: #007fff11;
  --blue-light-alpha-4: #007fff1e;
  --blue-light-alpha-5: #017fee30;
  --blue-light-alpha-6: #0176e447;
  --blue-light-alpha-7: #0077e068;
  --blue-light-alpha-8: #0082e5a0;
  --blue-light-alpha-9: #0090fff9;
  --blue-light-alpha-10: #007feff9;
  --blue-light-alpha-11: #0066dbf9;
  --blue-light-alpha-12: #002047f9;
  --ink-dark-1: #101313;
  --ink-dark-2: #181b1b;
  --ink-dark-3: #212525;
  --ink-dark-4: #282d2d;
  --ink-dark-5: #303434;
  --ink-dark-6: #393e3e;
  --ink-dark-7: #464b4b;
  --ink-dark-8: #5f6464;
  --ink-dark-9: #6b7171;
  --ink-dark-10: #797f7f;
  --ink-dark-11: #b1b7b7;
  --ink-dark-12: #ecf1f1;
  --ink-light-1: #fcfdfd;
  --ink-light-2: #f8f9f9;
  --ink-light-3: #f0f1f1;
  --ink-light-4: #e8e9e9;
  --ink-light-5: #e0e2e2;
  --ink-light-6: #d9dada;
  --ink-light-7: #cdcfcf;
  --ink-light-8: #bbbcbc;
  --ink-light-9: #8b8e8e;
  --ink-light-10: #818484;
  --ink-light-11: #636565;
  --ink-light-12: #1e2121;
  --ink-dark-alpha-1: #38828203;
  --ink-dark-alpha-2: #c6e6e60b;
  --ink-dark-alpha-3: #d5eded16;
  --ink-dark-alpha-4: #e1f2f21e;
  --ink-dark-alpha-5: #e8f5f526;
  --ink-dark-alpha-6: #e8f5f531;
  --ink-dark-alpha-7: #ecf7f73f;
  --ink-dark-alpha-8: #f5fafa59;
  --ink-dark-alpha-9: #f4fafa67;
  --ink-dark-alpha-10: #f5fbfb76;
  --ink-dark-alpha-11: #f9fcfcb2;
  --ink-dark-alpha-12: #fbfdfdf0;
  --ink-light-alpha-1: #00555503;
  --ink-light-alpha-2: #00252507;
  --ink-light-alpha-3: #0011110f;
  --ink-light-alpha-4: #000c0c17;
  --ink-light-alpha-5: #0011111f;
  --ink-light-alpha-6: #00070726;
  --ink-light-alpha-7: #000b0b32;
  --ink-light-alpha-8: #00040444;
  --ink-light-alpha-9: #00070774;
  --ink-light-alpha-10: #0004049c;
  --ink-light-alpha-11: #0007077e;
  --ink-light-alpha-12: #000202df;
  --amber-light-1: #fefdfb;
  --amber-light-2: #fff9ed;
  --amber-light-3: #fff4d5;
  --amber-light-4: #ffecbc;
  --amber-light-5: #ffe3a2;
  --amber-light-6: #ffd386;
  --amber-light-7: #f3ba63;
  --amber-light-8: #ee9d2b;
  --amber-light-9: #ffb224;
  --amber-light-10: #ffa01c;
  --amber-light-11: #ad5700;
  --amber-light-12: #4e2009;
  --amber-dark-1: #1f1300;
  --amber-dark-2: #271700;
  --amber-dark-3: #341c00;
  --amber-dark-4: #3f2200;
  --amber-dark-5: #4a2900;
  --amber-dark-6: #573300;
  --amber-dark-7: #693f05;
  --amber-dark-8: #824e00;
  --amber-dark-9: #ffb224;
  --amber-dark-10: #ffcb47;
  --amber-dark-11: #f1a10d;
  --amber-dark-12: #fef3dd;
  --amber-light-alpha-1: #c0820505;
  --amber-light-alpha-2: #ffab0211;
  --amber-light-alpha-3: #ffbb012b;
  --amber-light-alpha-4: #ffb70042;
  --amber-light-alpha-5: #ffb3005e;
  --amber-light-alpha-6: #ffa20177;
  --amber-light-alpha-7: #ec8d009b;
  --amber-light-alpha-8: #ea8900d3;
  --amber-light-alpha-9: #ffa600db;
  --amber-light-alpha-10: #ff9500e2;
  --amber-light-alpha-11: #ab5300f9;
  --amber-light-alpha-12: #481800f4;
  --amber-dark-alpha-1: #00000000;
  --amber-dark-alpha-2: #fd83000a;
  --amber-dark-alpha-3: #fe730016;
  --amber-dark-alpha-4: #ff7b0023;
  --amber-dark-alpha-5: #ff840030;
  --amber-dark-alpha-6: #ff95003f;
  --amber-dark-alpha-7: #ff970f54;
  --amber-dark-alpha-8: #ff990070;
  --amber-dark-alpha-9: #ffb625f9;
  --amber-dark-alpha-10: #ffce48f9;
  --amber-dark-alpha-11: #ffab0eef;
  --amber-dark-alpha-12: #fff8e1f9;

  /* Legacy palette aliases (keeps older themes working) */
  --smoke-light-1: var(--gray-light-1);
  --smoke-light-2: var(--gray-light-2);
  --smoke-light-3: var(--gray-light-3);
  --smoke-light-4: var(--gray-light-4);
  --smoke-light-5: var(--gray-light-5);
  --smoke-light-6: var(--gray-light-6);
  --smoke-light-7: var(--gray-light-7);
  --smoke-light-8: var(--gray-light-8);
  --smoke-light-9: var(--gray-light-9);
  --smoke-light-10: var(--gray-light-10);
  --smoke-light-11: var(--gray-light-11);
  --smoke-light-12: var(--gray-light-12);

  --smoke-dark-1: var(--gray-dark-1);
  --smoke-dark-2: var(--gray-dark-2);
  --smoke-dark-3: var(--gray-dark-3);
  --smoke-dark-4: var(--gray-dark-4);
  --smoke-dark-5: var(--gray-dark-5);
  --smoke-dark-6: var(--gray-dark-6);
  --smoke-dark-7: var(--gray-dark-7);
  --smoke-dark-8: var(--gray-dark-8);
  --smoke-dark-9: var(--gray-dark-9);
  --smoke-dark-10: var(--gray-dark-10);
  --smoke-dark-11: var(--gray-dark-11);
  --smoke-dark-12: var(--gray-dark-12);

  --smoke-light-alpha-1: var(--gray-light-alpha-1);
  --smoke-light-alpha-2: var(--gray-light-alpha-2);
  --smoke-light-alpha-3: var(--gray-light-alpha-3);
  --smoke-light-alpha-4: var(--gray-light-alpha-4);
  --smoke-light-alpha-5: var(--gray-light-alpha-5);
  --smoke-light-alpha-6: var(--gray-light-alpha-6);
  --smoke-light-alpha-7: var(--gray-light-alpha-7);
  --smoke-light-alpha-8: var(--gray-light-alpha-8);
  --smoke-light-alpha-9: var(--gray-light-alpha-9);
  --smoke-light-alpha-10: var(--gray-light-alpha-10);
  --smoke-light-alpha-11: var(--gray-light-alpha-11);
  --smoke-light-alpha-12: var(--gray-light-alpha-12);

  --smoke-dark-alpha-1: var(--gray-dark-alpha-1);
  --smoke-dark-alpha-2: var(--gray-dark-alpha-2);
  --smoke-dark-alpha-3: var(--gray-dark-alpha-3);
  --smoke-dark-alpha-4: var(--gray-dark-alpha-4);
  --smoke-dark-alpha-5: var(--gray-dark-alpha-5);
  --smoke-dark-alpha-6: var(--gray-dark-alpha-6);
  --smoke-dark-alpha-7: var(--gray-dark-alpha-7);
  --smoke-dark-alpha-8: var(--gray-dark-alpha-8);
  --smoke-dark-alpha-9: var(--gray-dark-alpha-9);
  --smoke-dark-alpha-10: var(--gray-dark-alpha-10);
  --smoke-dark-alpha-11: var(--gray-dark-alpha-11);
  --smoke-dark-alpha-12: var(--gray-dark-alpha-12);

  --amber-lightalpha-1: var(--amber-light-alpha-1);
  --amber-lightalpha-2: var(--amber-light-alpha-2);
  --amber-lightalpha-3: var(--amber-light-alpha-3);
  --amber-lightalpha-4: var(--amber-light-alpha-4);
  --amber-lightalpha-5: var(--amber-light-alpha-5);
  --amber-lightalpha-6: var(--amber-light-alpha-6);
  --amber-lightalpha-7: var(--amber-light-alpha-7);
  --amber-lightalpha-8: var(--amber-light-alpha-8);
  --amber-lightalpha-9: var(--amber-light-alpha-9);
  --amber-lightalpha-10: var(--amber-light-alpha-10);
  --amber-lightalpha-11: var(--amber-light-alpha-11);
  --amber-lightalpha-12: var(--amber-light-alpha-12);

  --amber-darkalpha-1: var(--amber-dark-alpha-1);
  --amber-darkalpha-2: var(--amber-dark-alpha-2);
  --amber-darkalpha-3: var(--amber-dark-alpha-3);
  --amber-darkalpha-4: var(--amber-dark-alpha-4);
  --amber-darkalpha-5: var(--amber-dark-alpha-5);
  --amber-darkalpha-6: var(--amber-dark-alpha-6);
  --amber-darkalpha-7: var(--amber-dark-alpha-7);
  --amber-darkalpha-8: var(--amber-dark-alpha-8);
  --amber-darkalpha-9: var(--amber-dark-alpha-9);
  --amber-darkalpha-10: var(--amber-dark-alpha-10);
  --amber-darkalpha-11: var(--amber-dark-alpha-11);
  --amber-darkalpha-12: var(--amber-dark-alpha-12);

  --purple-light-9: var(--lilac-light-9);
  --purple-dark-9: var(--lilac-dark-9);
  --cyan-light-9: var(--blue-light-9);
  --cyan-dark-9: var(--blue-dark-9);
}
